.git
.github
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.env
*.egg-info
.pytest_cache
htmlcov/
.coverage
tests/
docs/
data/
*.md
*.log
logs/
.mypy_cache
.tox
dist/
build/
*.egg
node_modules/
.DS_Store
